<!-- Roy -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>CRUD Produk</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/tooltip-viewport.css}" rel="stylesheet" />
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
    <!--link th:href="@{/css/materialize.min.css}" rel="stylesheet" /-->

    <script th:src="@{/js/angular.min.js}"></script>
    <script th:src="@{/js/app-module.js}"></script>
    <script th:src="@{/js/admin-controller.js}"></script>
</head>

<body ng-app="miniMarket" ng-controller="AdminController as vm">

<!-- TODO navigasi bar -->

    <div class="container">

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Nama</th>
                        <th>Jenis</th>
                        <th>Harga Beli</th>
                        <th>Harga Jual</th>
                        <th>Stok</th>
                        <th style="text-align:center;">Detail</th>
                        <th style="text-align:center;">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produk in vm.produk">
                        <td>{{produk.kode_produk}}</td>
                        <td>{{produk.nama}}</td>
                        <td>{{produk.tipe.tipe}}</td>
                        <td>Rp.{{produk.harga_beli}},-</td>
                        <td>Rp.{{produk.harga_jual}},-</td>
                        <td>{{produk.stok}}</td>
                        <td style="text-align:center;"><a href="#" class="tooltip-right" title="Lihat data produk lebih lengkap" ng-click="vm.deskripsiProduk(produk.kode_produk)" data-toggle="modal" data-target="#divDeskripsi"><span class="glyphicon glyphicon-menu-hamburger"></span></a></td>
                        <td style="text-align:center;">
                            <a ng-click="vm.hapusProduk(produk.kode_produk)" href="#" class="tooltip-right" title="Hapus produk"><span class="glyphicon glyphicon-remove"></span></a>
                            <a ng-click="vm.remCache();vm.setCache(produk.kode_produk);vm.listTipe();vm.disabled=true;vm.status='Ubah';vm.deskripsiProduk(produk.kode_produk)" href="#" data-toggle="modal" data-target="#editTambah"><span class="glyphicon glyphicon-edit"></span>Ubah</a>
                        </td>
                    </tr>
                </tbody>
            </table>


            <button ng-click="vm.remCache();vm.listTipe();vm.disabled=false;vm.status='Tambah'" class="btn btn-primary" data-toggle="modal" data-target="#editTambah">Tambah</button>

            <div class="modal fade" id="divDeskripsi" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{vm.deskripsi.nama}}({{vm.deskripsi.kode_produk}})</h4>
                        </div>
                        <div class="modal-body">
                            <code>Terakhir diperbarui : {{vm.deskripsi.tanggal_masuk}}</code>
                            <br /><br />
                            <p>{{vm.deskripsi.deskripsi}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="editTambah" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{vm.status}} Produk</h4>
                        </div>
                        <div class="modal-body">
                            <form name="produk">
                                <div class="input-group">
                                    <label class="input-group-addon">Kode Produk</label>
                                    <input type="text" id="kode_produk" name="kode_produk" ng-model="vm.cacheProduk.kode_produk" ng-disabled="vm.disabled" class="form-control" placeholder="Kode Produk" required="true" autofocus="true" />
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon">Nama</label>
                                    <input type="text" id="nama" name="nama" ng-model="vm.cacheProduk.nama" class="form-control" placeholder="Nama Produk" required="true" />
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon">Jenis</label>
                                    <!--input type="text" id="kode_tipe" name="kode_tipe" ng-model="vm.cacheProduk.kode_tipe" class="form-control" placeholder="Jenis Produk" required="true" /-->

                                    <select name="tipe" class="form-control" ng-model="vm.cacheProduk.tipe.kode_tipe">
                                        <option ng-repeat="tipe in vm.tipe" ng-value="tipe.kode_tipe">{{tipe.tipe}}</option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <label class="input-group-addon">Harga Beli</label>
                                    <input type="number" ng-min="0" ng-max="99999999999" id="harga_beli" name="harga_beli" ng-model="vm.cacheProduk.harga_beli" class="form-control" placeholder="Harga Beli" required="true" />
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon">Harga Jual</label>
                                    <input type="number" ng-min="0" ng-max="99999999999" id="harga_jual" name="harga_jual" ng-model="vm.cacheProduk.harga_jual" class="form-control" placeholder="Harga Jual" required="true" />
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon">Stok</label>
                                    <input type="number" ng-min="0" ng-max="99999999999" id="stok" name="stok" ng-model="vm.cacheProduk.stok" class="form-control" placeholder="Stok Produk" ng-required="true" />
                                </div>
                                <div class="input-group">
                                    <label class="input-group-addon">Keterangan</label>
                                    <input type="text" id="deskripsi" name="deskripsi" ng-model="vm.cacheProduk.deskripsi" class="form-control" placeholder="Keterangan Tambahan" />
                                </div>
                                <div class="input-group" ng-hide="true">
                                    <label class="input-group-addon">Tanggal Input</label>
                                    <input type="date" id="tanggal_masuk" name="tanggal_masuk" ng-model="vm.cacheProduk.tanggal_masuk" class="form-control"  />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="vm.createProduk()" class="btn btn-primary" data-dismiss="modal">{{vm.status}} dan Tutup</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--script th:src="@{/js/materialize.min.js}"></script-->
    <script th:src="@{/js/tooltip-viewport.js}"></script>
</body>

</html>