<!-- Rani Triani Gustia -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Management Tipe</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/tooltip-viewport.css}" rel="stylesheet" />
    <link th:href="@{/css/admin.css}" rel="stylesheet" />

    <script th:src="@{/js/angular.min.js}"></script>
    <script th:src="@{/js/app-module.js}"></script>
    <script th:src="@{/js/admin-controller.js}"></script>
</head>

<body ng-app="miniMarket" ng-controller="AdminController as vm">

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" th:href="@{/admin/}" style="color:white;">Minimart</a>
             </div>
            <div id="navbar" class="navbar-collapse collapse">
                   <li class="active nav navbar-nav"></li>
                    <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a th:href="@{/admin/transaksi}">Transaksi </a></li>
                     <li class="active"><a th:href="@{/admin/produk}">Produk </a></li>
                     <li class="active"><a th:href="@{/admin/tipe}">Tipe </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;"> Administrator<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/setting/admin}" class="glyphicon glyphicon-wrench"> Akun</a></li>
                            <li><a th:href="@{/logout}" class="glyphicon glyphicon-off"> Logout</a></li>
                        </ul>
                    </li>
                   </ul>
            </div>
           </div>
          </nav>

<div class="container">

    <div>
        <table class="table table-bordered bar-tabel" style="margin-top:10%;">
            <thead style="background-color:#3EB728; color:white;">
            <tr>
                <th>Jenis Produk</th>
                <th style="text-align:center;">Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tipe in vm.tipe">
                <td>{{tipe.tipe}}</td>
                <td style="text-align:center;">
                    <a ng-click="vm.deleteTipe(tipe.kode_tipe)" href="#" class="tooltip-right" title="Hapus tipe"><span class="glyphicon glyphicon-trash"></span></a>
                    <a ng-click="vm.remCacheTipe();vm.setCacheTipe(tipe.kode_tipe);vm.status='Ubah';" href="#" data-toggle="modal" data-target="#editTambah"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            </tbody>
        </table>


        <button ng-click="vm.remCacheTipe();vm.status='Tambah'" class="btn btn-success" data-toggle="modal" data-target="#editTambah">Tambah</button>

        <div class="modal fade" id="editTambah" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{vm.status}} Tipe</h4>
                    </div>
                    <div class="modal-body">
                        <form name="produk">
                            <div class="input-group">
                                <input ng-show="false" type="text" id="kode_tipe" name="kode_tipe" ng-model="vm.cacheTipe.kode_tipe" class="form-control" placeholder="Kode Tipe" required="true" />
                            </div>
                            <div class="input-group">
                                <label class="input-group-addon">Nama Tipe</label>
                                <input type="text" id="tipe" name="tipe" ng-model="vm.cacheTipe.tipe" class="form-control" placeholder="Nama Tipe" required="true" autofocus="true" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.insertUpdateTipe()" class="btn btn-success" data-dismiss="modal">{{vm.status}} dan Tutup</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>
