<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>List REST API</title>
</head>
<body>
	<h1>LIST REST API</h1>
	<br />
	<h2>Produk</h2>
	<h3>List semua produk [GET]</h3>
	<p>/produk/list</p>
	<h3>Cari berdasarkan nama produk/barang [GET]</h3>
	<p>/produk/cari-by-nama?nama=*nama*</p>
	<h3>Cari berdasarkan kode produk/barang [GET][PATH VARIABLE]</h3>
	<p>/produk/cari-by-kode/*kode*</p>
	<h3>Tambah dan Ubah produk/barang [POST][REQUEST BODY]</h3>
	<p>/produk/createupdate *data produk*</p>
	<h3>Hapus produk [POST][PATH VARIABLE]</h3>
	<p>/produk/delete/*kode*</p>
	<br />
	<h2>Tipe Produk</h2>
	<h3>List Semua tipe produk [GET]</h3>
	<p>/tipe/list</p>
	<h3>Cari berdasarkan kode [GET]</h3>
	<p>/tipe/cari-by-kode/*kode*</p>
	<h3>Cari berdasarkan nama [GET]</h3>
	<p>/tipe/cari-by-nama?nama=*nama*</p>
	<h3>Tambah dan Ubah Tipe produk [POST][REQUEST BODY]</h3>
	<p>/tipe/createupdate *data produk*</p>
	<h3>Hapus Tipe produk [POST][PATH VARIABLE]</h3>
	<p>/tipe/delete/*id*</p>
    <br />
    <h2>Transaksi</h2>
    <h3>List/riwayat transaksi</h3>
    <p>/transaksi/list</p>
    <h3>Cari histori transaksi dengan kode transaksi</h3>
    <p>/transaksi/cari-by-kode/*kode*</p>
</body>
</html>