<!-- Rani Triani Gustia -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Kasir</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar-fixed-top.css}" rel="stylesheet" />
    <script th:src="@{/js/angular.min.js}"></script>
    <!-- script th:src="@{/js/angular-animate.min.js}"></script>
    <script th:src="@{/js/angular-cookies.min.js}"></script>
    <script th:src="@{/js/angular-sanitize.min.js}"></script -->
    <link th:href="@{/css/kasir.css}" rel="stylesheet" />
    <!--script th:src="@{/js/app-module.js}"></script-->
    <script th:src="@{/js/kasir-controller.js}"></script>
</head>

<body ng-app="miniMarket" ng-controller="KasirController">


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#" style="color:white;">Minimart</a>
             </div>
            <div id="navbar" class="navbar-collapse collapse">
                   <li class="active nav navbar-nav"><input ng-model="searchNama" ng-change="cariByNama(searchNama)" type="text" id="searchProduk" class="form-control" placeholder="Nama Produk" style="margin-top:8px;" /></li>
                    <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">{{login.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/setting/kasir}" class="glyphicon glyphicon-wrench"> Akun</a></li>
                            <li><a th:href="@{/logout}" class="glyphicon glyphicon-off"> Logout</a></li>
                        </ul>
                    </li>
                   </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="modal fade" id="deskripsi" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{deskripsi.nama}}({{deskripsi.kode_produk}})</h4>
                </div>
                <div class="modal-body">
                    <code>Terakhir diperbarui : {{deskripsi.tanggal_masuk}}</code>
                    <br /><br />
                    <p>{{deskripsi.deskripsi}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    
    <div class="modal fade" id="transaksi" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--  JUDUL  -->
                <label>Konfirmasi Transaksi</label>
                </div>
                <div class="modal-body">
                <!--  ISI  -->
                <label>Pembelian {{cart.length}} barang, dengan total Rp.{{total}},-</label>
                <br />
                <br />
                <div class="input-group">
                <label class="input-group-addon">Bayar </label><input type="number" id="bayar" value="0" ng-change="hitungUang()" class="form-control"></input>
                </div>
                <br />
                <label>Kembalian Rp.{{kembali}},-</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="proses()">Bayar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container" style="padding-right:10%;">
        <table class="table table-bordered">
            <thead style="background-color:#3EB728; color:white;">
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Jenis</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th style="text-align:center;">Detail</th>
                    <th style="text-align:center;">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produk in produk">
                    <td>{{produk.kode_produk}}</td>
                    <td>{{produk.nama}}</td>
                    <td>{{produk.tipe.tipe}}</td>
                    <td>Rp.{{produk.harga_jual}},-</td>
                    <td>
                        <element ng-if="produk.stok==0">Tidak Tersedia</element>
                        <element ng-if="produk.stok!=0">Tersedia</element>
                    </td>
                    <td style="text-align:center;"><a href="#" ng-click="deskripsiProduk(produk.kode_produk)" data-toggle="modal" data-target="#deskripsi"><span class="glyphicon glyphicon-menu-hamburger"></span></a></td>
                    <td style="text-align:center;">
                        <element ng-if="produk.stok!=0"><a href="#" ng-click="addToCart(produk)"><span class="glyphicon glyphicon-plus"></span></a></element>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- NAVIGASI KERANJANG -->
    
    <div class="keranjang" id="keranjang">
        <div class="div-title-keranjang">

            <h3 class="title-keranjang teks-fix"><span class="glyphicon glyphicon-shopping-cart" /> Keranjang</h3>
        </div>
        <div class="keranjang-body">
            <div class="input-group" ng-repeat="ct in cart">
            	 <span class="input-group-addon teks-fix" id="jumlah-barang">{{ct.jumlah_beli}}</span>
                <label class="input-group-addon teks-fix form-control" id="nama-barang" style="width:80%; background-color:white;">{{ct.nama}}</label>
                <button class="btn btn-success input-group-addon" style="width:40px; height:34px;" ng-click="removeFromCart(ct)">
				<span class="glyphicon glyphicon-minus" id="jumlah-barang"></span>
				</button>
            </div>
		<br /><br />
		<div class="div-button-keranjang input-group form-group" ng-if="cart.length>0">
			<button class="btn btn-danger input-group-addon" ng-click="resetTr()" style="width:33px;">
				<span class="glyphicon glyphicon-remove" id="hapus"></span>
			</button>
			<label class="input-group-addon" style="width:80%;">Rp.{{total}},-</label>
			<button class="btn btn-primary input-group-addon" data-toggle="modal" data-target="#transaksi" style="width:33px;">
				<span class="glyphicon glyphicon-send"></span>
			</button>
	
        </div>
       </div> 
	 </div>
    <!-- TABEL -->
    <div class="panel-body">
    </div>
	 
	 	 
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	 </body>
	</html>